A:link{
text-decoration:none;
color: #000080;
}

A:visited{
text-decoration:none;
color: #800000;
}

A:active{
text-decoration:underline;
color: #FF0000;
}

A:hover{text-decoration:underline}

BODY{
color: black;
background-color: white;
}

P{
margin-top 0.5em;
text-indent: 1em;
}

P.noindent{
margin-top 0.5em;
text-indent: 0em;
}

H1{
margin-left: auto;
margin-right: auto;
border-width: 0pt 8pt 1pt 8pt;
border-color: #0000ff;
border-style: solid;
width: 50%;
text-align: center;
align: center;
}

DIV.block{
top:              0px;
left:             0px;
width:            80%;
width:            90%;
font-size: medium;
background: white;
margin:           0.1em;
margin-bottom:           1em;
padding:          0em;
}

H2{
text-indent: 0.5em;
font-size:LARGE;
padding: 2pt;
border-color: black;
border-left-color: #0000ff;
color: black;
border-width: 1pt 1pt 3pt 5pt;
border-style: solid;
border-bottom-style: double;
font-weight: bold;
background-color: #dddddd;
}

DIV.block2{
text-indent: 1em;
position:         relative;
top:              0px;
left:             0px;
font-size: medium;
color: black;
background: white;
margin:           1.0em;
padding:          0em;
border-width: 0pt 0pt 2pt 0pt;
border-bottom-color: #cccccc;
border-bottom-style: solid;
}

DIV.block_log{
position:         relative;
top:              0px;
left:             5%;
width: 95%;
font-size: medium;
color: black;
background: white;
margin:           1.0em;
padding:          0.5em;
border-width: 1pt 1pt 1pt 1pt;
border-color: #4444ff;
border-style: solid;
}

H3{
text-indent: 0.5em;
position: relative;
left: 0.5em;
background-color: #eeeeff;
border-width: 0pt 0pt 1pt 5pt;
border-color: #4444ff;
border-style: solid;
}

TABLE {
padding: 2pt;
background-color: lightyellow;
width: 80%;
color: black;
text-align: left;
margin-bottom: 10pt;
}

TH {
padding: 2pt;
color:black;
border-width: 1pt 1pt 1pt 1pt;
border-style: solid;
font-weight: bold;
color: black;
background: white;
}

TD {
padding: 2pt;
font-weight: normal;
color: black;
border: 0pt;
border-top-width: 1pt;
border-bottom-width: 1pt;
border-style: solid;
text-indent: 1em;
}

HR {
width: 80%;
text-align: center;
}

PRE {
width: 80%;
margin: 0.5em;
padding: 0.5em;
color: white;
background: black;
text-indent: 0; 
border-width: 1pt 1pt 1pt 1pt;
border-color: brown;
border-style: solid;
}

UL LI { list-style-type: square; }
UL LI LI { list-style-type: circle; }
