A:link{
text-decoration:none;
color: #000080;
}

A:visited{
text-decoration:none;
color: #800000;
}

A:active{
text-decoration:underline;
color: #FF0000;
}

A:hover{text-decoration:underline}

BODY{
color: black;
background-color: white;
}

P{line-height:1.2em;}

H1{
text-align: center;
}

H3{
background-color: lightgreen;
border-width:2pt;
}

TABLE {
padding: 2pt;
background-color: ligthyellow;
width: 80%;
color: black;
align: center;
text-align: left;
margin-bottom: 10pt;
}

TH {
font-size:LARGE;
padding: 2pt;
border-color: orange;
color:black;
border-width: 1pt 3pt 5pt 1pt;
border-style: solid;
font-weight: bold;
color: black;
background: white;
}

TD {
padding: 2pt;
font-weight: normal;
color: black;
border: 0pt;
border-top-width: 1pt;
border-bottom-width: 1pt;
border-style: solid;
text-indent: 1em;
}

HR {
width: 80%;
text-align: center;
align: center;
}

PRE { text-indent: 0; }
